$base: #fafafa;
$base-light: #e0e0e0;
$base-dark: #fff;
$on-base: #000;

$primary: #0277bd;
$primary-light: #58a5f0;
$primary-dark: #004c8c;
$on-primary: #fff;

$secondary: #f44336;
$secondary-light: #b90007;
$secondary-dark: #ff795d;
$on-secondary: #fff;

$error: #b00020;
$on-error: #fff;

$success: #99aa00;
$on-success: #fff;
