<section class="flex-container">
  <div class="row">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to Angular</mat-card-title>
            <mat-card-subtitle>Professional App Development</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam consequatur quam quidem?
            </p>
        </mat-card-content>
        <mat-card-actions align="start">
            <!-- <button mat-button (click)="onAction1">Action1</button> -->

        </mat-card-actions>
        <mat-card-footer>
            Footer
        </mat-card-footer>
    </mat-card>
  </div>
</section>
