<mat-sidenav-container>
    <mat-sidenav #menu mode="over" align="start">
        <app-menu-list
        (menuToggle)="menu.toggle()"
        (signOut)="onSignOut()"
        [isAuthorized] = "isAuthorized$ | async"></app-menu-list>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
      <app-header
      (menuToggle)="menu.toggle()"
      (signOut)="onSignOut()"
      [isAuthorized] = "isAuthorized$ | async"
      [user] = "user$ | async"></app-header>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
