<mat-nav-list>
  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="nav-list-label">Home</span>
  </a>

  <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/login">
    <mat-icon>login</mat-icon>
    <span class="nav-list-label">Login</span>
  </a>

  <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/register">
    <mat-icon>how_to_register</mat-icon>
    <span class="nav-list-label">Register</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()">
    <mat-icon>contact_support</mat-icon>
    <span class="nav-list-label">Contact</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="estate/new">
    <mat-icon>add</mat-icon>
    <span class="nav-list-label">New Estate</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="estate/list">
    <mat-icon>add</mat-icon>
    <span class="nav-list-label">Estates List</span>
  </a>

  <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" (click)="onSignOut()">
    <mat-icon>logout</mat-icon>
    <span class="nav-list-label">Logout</span>
  </a>
</mat-nav-list>
